<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ドメイン有効期限リスト</title>
    <meta charset="utf-8">
  </head>
  <body>
     <table class="table table-bordered table-striped" style="table-layout:fixed;width:920px;">
      <tr>
        <th aligh= centor style="width:30px;">No</th>
        <th style="width:360px;">ホスト名</th>
        <th style="width:170px;">レジストラ</th>
        <th style="width:130px;">更新日</th>
        <th style="width:130px;">失効日</th>
        <th style="width:130px;">残り日数</th>
      </tr>
      {% set item_cnt = 1 %}
      {% for item in list %}
      <tr>
        <td align="center">{{ item_cnt }}</td>
        <td>{{ item["domain"] }}</td>
        <td>{{ item["registrar"] }}</td>
        <td>{{ item["update_date"] }}</td>
        <td>{{ item["expires_date"] }}</td>
        <td>{{ item["limit_day"] }}日</td>
      </tr>
      {% set item_cnt = item_cnt + 1 %}
      {% endfor %}
    </table>
    <br />
    <br />
    <br />
  </body>
</html>
